<!-- mobile view -->
<header>
    <mat-toolbar  style="background: #65A7C4;padding: 0px;height: 60px;">
        <div class="row" style="display: contents;">
            <div class="col" style="text-align: center;">   
                <div class="backButton" (click)="backButton()" [hidden]="showBackButton">
                    <img style="float: left;margin-top: 5.5px;margin-left: 10px;margin-right: 10px;" src="assets/icon_back@1x.png" width="11px" height="20px" />
                    <span style="font-size:16px;float: left;color: white">Back</span>
                </div>    
            </div>

            <div class="col" style="text-align: center;margin-top: -4px;">
                <img  src="assets/Logo_AppliedMaterials.png" width="96px" height="25px" />
            </div>

            <div class="col">
                <img style="float:right;margin-right: 12px;" src="assets/Icon_Exit@1x.png" width="27px" height="22px" />
            </div>
        </div>
    </mat-toolbar>
</header>

<router-outlet> </router-outlet>

  <!-- web View -->
<!-- <div class="container-fluid">
    <div class="page-header">
        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-md-6 logoImage">

                    <img src="assets/Logo_AppliedMaterials.png" width="90px" height="25px" />
                    <span class="g3ProductIDTool">G3 Product ID Tool</span>
                </div>

                <div class="col-md-6 ">

                    <button class="menuButton" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu" xPosition ="before">

                        <label mat-menu-item style="text-align: center;margin-top: -7px;margin-bottom: -8px;" (click)="showExitDialog();">Exit</label>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    
    <router-outlet> </router-outlet>
</div> -->