<div class="disable-text" style="background-color: rgb(255, 255, 255)">

  <div style="background:rgb(255, 255, 255);text-align: center;margin-top: -24px;margin-bottom: -24px;">
    <h2 style="text-align: center;padding-top:10px;padding-bottom:10px;font-size:14px; font-weight: bold;color: rgb(0, 0, 0);" mat-dialog-title>Exit?</h2>
  </div>
  
  <mat-dialog-content style="font-size: 13px;color: #000000;text-align: center;padding-bottom: 8%;">
      Are you sure you want to exit? <br>All progress will be lost.
  </mat-dialog-content>
  
  <mat-divider style="margin-left: -24px;margin-right: -24px;background: #D8D8D8"></mat-divider>
  
  <mat-dialog-actions>
    <mat-toolbar  style="background: rgb(255, 255, 255);padding: 0px;height: 36px;">
      <div class="row" style="display: flex; width: 100%; margin-left: 0px;">
        <div class="col" style="text-align: center;">
          <label style="font-size: 14px;cursor: pointer; color: rgb(0, 143, 206); margin-top: 8.5px;" (click)=dialogCancel()>Cancel</label>
        </div>

        <div class="col-1" style="background:rgb(255, 255, 255);text-align: -webkit-center;">
          <div style="background: #D8D8D8; width: 1px; height: 52px">     
          </div>
        </div>

        <div class="col" style="text-align: center;">
          <label style="color: #008FCE;cursor: pointer; font-size: 14px; margin-top: 8.5px; font-weight: bold;" (click)=dialogExit()>Exit</label>
        </div>
      </div>
    </mat-toolbar>
  </mat-dialog-actions> 
</div>