.selectChambersName {

    color: #008FCE;
    font-size: 14px;
} 

.mat_chip {

    font-size: 12px;
    border-radius: 17px;
    min-height: 26px;
}

.mat-chip.mat-standard-chip {

    background: rgba(132,189,0,0.40);
    color: rgba(0,0,0,.87);
    padding-bottom: 4px;
}

.inCompatableChamberNames {

    background-color: rgb(226, 226, 226);
    float: left;
    padding: 8px;
    font-size: 12px;
    position: relative;
    margin-right: 5px;
    margin-bottom: 6px;
    border-radius: 17px;
    color: black;
    cursor: pointer;
}

.chamberNames {

    background: rgba(153,214,234,0.50);
    float: left;
    padding: 7px;
    font-size: 12px;
    position: relative;
    margin-right: 5px;
    margin-bottom: 6px;
    border-radius: 17px;
    color: black;
    cursor: pointer;
}

.chamberContainer {

    display: contents;
}

.matContainer {

    display: table;
    width: 100%;
}

.chip-list {

    width: 100%;
}

.isRnDChambersTopMarginLow{

margin-top: 10px;
}

.isRnDChambersTopMarginHigh{

margin-top: -23px;

}

.incompatableChambers {

    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 10px;
}

.matchingChambersLabel {

    font-size: 14px;
    margin-bottom: 10px;
}

/* .matActions {

    widows: 100%;
} */

hr {
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(161, 161, 161);
}

/* .card>hr {

    margin-right: -16px;
    margin-left: -16px;
} */

.matContainerproductsList {

    background-color: rgb(183, 119, 201);
}

.errorLabel {

    position: absolute;
    display: table-caption;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: -18px;
    font-size: 14px;
    color: #D22630;
}

.matIcon {

    color: #D22630;
}

.comapatableChambersList {

    margin-top: 30px;
}

.mat-input-element {

    caret-color: #000000;
}

/* .text-right {
    
    display: block;
    margin-bottom: 0px;
} */

.errorLabelClose {

    float: right;
}

.red {

    color: #D22630;
}

.blue {

    color: #4599C3;
}

.submitButtonEnableColor {

    color: #008FCE;
    background: rgba(69,153,195,0.40);
}

.submitButtonDisabledColor {

    background: #EAEAEA;
    color: #A8A8A8;
}

.mat-form-field-custom {

    margin-top: -21px;
}

/* .formFiledUnderLineColor .mat-form-field-underline {

   background-color: red !important; 
}

.mat-card-actions {
    
    margin-bottom: 8px !important;
    margin-top: 0px !important;
} */

/* .formFiledUnderLineColor .mat-form-field-underline {
    
    background-color:#4599C3 !important;
} */

/* .mat-form-field-underline {
    
    background-color:#4599C3 !important;
} */

#content {

    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}
  
.footerButton {

    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}

.main-form {

    min-width: 100%;
    max-width: 100%;
    width: 100%;
}