<div id="content">

  <div class="matContainer" style="padding:16px; margin-bottom: -16px;">

    <div style="margin-bottom: -6px;">
      <label class="selectChambersName">Select Chambers</label>
      <hr style="margin-top: 0px;margin-right: -16px;">
    </div>

    <form class="main-form">
      <mat-form-field class="chip-list  mat-form-field-custom ">
        <mat-chip-list #chipList>
          <mat-chip class="mat_chip" style="margin-bottom: 8px;" *ngFor="let chamber of selectedChambersList"
            [selectable]="chamberSelectable" [removable]="removable" (removed)="chambersRemove(chamber)" (click)="updateChambersByID(chamber)">
            {{chamber.name}} ({{chamber.got_code}})
            <!-- <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon> -->
            <div class="chamberQtyCircle">{{chamber.qty}}</div>
          </mat-chip>

          <input class="inputField" style="padding-bottom: 6px;padding-top: 6px;" #chamberInput [formControl]="chamberFormControl"
            [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [(ngModel)]="term" (keyup)="onKeyPress($event)" (focus)="onSearchChamberfocus()" (focusout)="outSearchChamberfocus()">
          <span class="errorLabelClose" [hidden]="!showSelectedChambersClearButton" (click)="clearAllSelectedChambers()">
            <mat-icon hidden [ngClass]="{'red' : isCrossLabelCondition == true, 'blue' : isCrossLabelCondition == false }" class="matIcon">close</mat-icon>
          </span>
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="chamberOptionSelected($event)">
          <mat-option *ngFor="let chamber of dropDownChambersList;let i = index" [value]="chamber">
            {{chamber.name}} ({{chamber.got_code}})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <hr style="margin-top: -21px;margin-right: -16px;margin-left: -16px;">
    </form>

    <label [hidden]="showErrorLabelCondition" class="errorLabel">You have reached the maximum amount of chambers.
      <!-- <span style="font-weight: bold;">{{extraSelectedChamberCount}}.</span>--></label>

    <div class="matContainer comapatableChambersList">

      <p class="chamberNames" [hidden]="!showChambersList" *ngFor="let chambers of chambersList; let i = index" [class.active]="selectedIndex === i" (click)="filterChambersByID(chambers)">
        <a style="padding:5px">{{ chambers.name }} ({{chamber.got_code}})</a>
      </p>

      <p class="matchingChambersLabel" [hidden]="!showCompatibilityChambersTitle">Known Matching Chambers</p>

      <p class="chamberNames" [hidden]="!showCompatibilityChambersList" *ngFor="let chambers of compatibilityChambersList; let i = index" [class.active]="selectedIndex === i" (click)="filterChambersByID(chambers)">
        <a style="padding:5px">{{ chambers.name }} ({{chamber.got_code}})</a>
      </p>
    </div>
  </div>

  <div class="" style="padding:16px; margin-top: -16px;">
    <div [ngClass]="{'isRnDChambersTopMarginHigh' : isRnDChambersEnabled == true, 'isRnDChambersTopMarginLow' : isRnDChambersEnabled == false }">
      <p class="incompatableChambers" [hidden]="!showRnDChamberTitle">R&D Only Chambers</p>

      <p class="inCompatableChamberNames" [hidden]="!showRnDChamberList" *ngFor="let chambers of rndOnlyChambersList; let i = index" [class.active]="selectedIndex === i" (click)="filterRnDChambersByID(chambers)">
        <a style="padding:5px">{{ chambers.name }} ({{chamber.got_code}})</a>
      </p>
    </div>
  </div>

  <div class="matContainerproductsList matContainer">
    <p class="chamberNames" *ngFor="let chambers of finalProductsList">
      <a style="padding:5px">{{ chambers.name }} ({{chamber.got_code}})</a>
    </p>
  </div>
</div>

<footer class="footerButton">
  <mat-toolbar style="padding: 0px;height: 60px;display: block;">
    <button type="button" style="height: 60px;font-size: 16px;" [disabled]="!isButtonLabelCondition" [ngClass]="{'submitButtonEnableColor' : isButtonLabelCondition == true, 'submitButtonDisabledColor' : isButtonLabelCondition == false }" class="btn col-md-12" (click)="submitButton()">SUBMIT</button>
  </mat-toolbar>
</footer>

<router-outlet></router-outlet>