<style>

    .fa-times-thin:before {

	    content: '\00d7';
    }

</style>

<span style="float: right; margin-top: -16px;" (click)=qtyDialogCancel()>
    <i class="fa fa-times-thin fa-2x" style="font-size: 40px; margin-right: -12px; color: black; font-weight: bold;" aria-hidden="true"></i>
    <!-- <mat-icon style="font-size: 30px; margin-right: -12px;">close</mat-icon> -->
</span>
<div class="dialog_container disable-text" style="text-align:center">
    <div style="word-wrap: break-word">
        <span style="text-align: center;font-size: 14px;color: #000000; font-weight: bold;">{{data.chamber.name}}</span><br>
        <p style="margin-top: 10px; font-size: 13px; color: rgba(0,0,0,0.87);">Select quantity of chambers.</p> 
    </div>

    <div class="btn-group" style="margin-top: 10px;width: 155px;height: 50px;background: #979797; border-radius: 25px">
        <button type="button" [disabled]="disabledMinusButton" class="btn col fa fa-minus" style="color:#4E4E56; border-top-left-radius: 25px; border-bottom-left-radius: 25px;box-shadow: none; background: rgba(241, 241, 241, 0.88); width: 50%;margin-right: 0px" (click)="decrementQty()"></button>
        <button type="button" class="btn  col" style="font-size: 18px; font-weight:bold; color: #000000; box-shadow: none; cursor: default; margin-left: 1px; margin-right: 2px; background: rgba(241, 241, 241, 0.88);"> {{count}}</button>
        <button type="button" [disabled]="disabledPlusButton" class="btn col fa fa-plus" style="color:#4E4E56; border-top-right-radius: 25px; border-bottom-right-radius: 25px; box-shadow: none; background: rgba(241, 241, 241, 0.88); width: 50%;margin-right: 0px" (click)="incrementQty()"></button> 
    </div>

    <mat-divider style="margin-top: 30px;background: #D8D8D8;margin-left: -24px;
    margin-right: -24px;"></mat-divider>

    <mat-dialog-actions>
        <mat-toolbar  style="background: rgb(255, 255, 255); padding: 0px; height: 0px;">
          <div  style="display: flex; width: 100%; margin-left: 0px;">
            <div class="col" style="text-align: center;">
                <span style="margin-top: 10px;float: left;font-size: 14px;color: #008FCE;" (click)=qtyDialogDelete()>Delete</span>
            </div>
    
            <div class="col-1" style="background:rgb(255, 255, 255);text-align: -webkit-center;">
              <div style="background: #D8D8D8; width: 1px; height: 52px">     
              </div>
            </div>
    
            <div class="col" style="text-align: center;">
                <span style="margin-top: 10px;float: right;font-size: 14px;color: #008FCE;font-weight: bold" (click)=qtyDialogContinue()>Continue</span>
            </div>
          </div>
        </mat-toolbar>
      </mat-dialog-actions> 

</div>