.rightBlock {

    margin-top: 20px;
}

.leftBlock {

    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.borderLine {

    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(161, 161, 161);
}

.card>hr {

    margin-right: -16px;
    margin-left: -16px;
}

.productIDTopMargin {

    margin-top: 10px;
}

.indexPosition {

    margin-right: 15px;
    font-family: Roboto-Medium;
    font-size: 14px;
    color: #008FCE;
    font-weight: bold;
}

.mat-tab {

    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    flex-grow: 1;
}

#productScreencontent {

    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

.productScreenfooterButton {

    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.titleNamesPadding {

    display:flow-root;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider {

    margin-left: 16px;
}

.mat-tab-header {

    border-radius: 5px;
    background-color: #ffffff;
    border-bottom: 0px solid #ffffff;  
    margin-left: 15px;
    margin-right: 15px;
}

.mat-tab-label {

    background: #ffffff;
    border: 3px solid #4599C3;
    color: #4599C3;
    height: 40px !important;
}

.mat-tab-label-active {

    color: #ffffff;
    background-color: #4599C3;
    height: 40px !important;
}