<div id="productScreencontent">
  <div style="padding-top: 10px" >

    <mat-tab-group color="transparent" (selectedTabChange)="getSelectedTab($event)">
        <mat-tab [disabled]="showSVGImage" *ngFor="let product of finalProductsList; let i = index" [label]="product.product_code">
  
          <mat-divider style="margin-top: 16px;"></mat-divider>

          <div class="col-md-12 titleNamesPadding">
            <span style="font-size: 14px;color: #008FCE;">Product ID</span>  
            <span style="font-size: 16px;color: #000000;; font-weight: bold;float: right">{{product.product_code}}</span> 
          </div>

          <mat-divider style="margin-left: 16px;"></mat-divider>

          <div class="col-md-12 titleNamesPadding">
            <span style="font-size: 14px;color: #008FCE;">G3 Name</span>
          <span style="font-size: 14px;color: #000000;float: right">{{product.product_name}}</span> 
          </div>

          <mat-divider style="margin-left: 16px;"></mat-divider>

          <div class="col-md-12 titleNamesPadding">
            <span style="font-size: 14px;color: #008FCE;">OP ID</span>
            <span style="font-size: 14px;color: #000000;float: right">{{selectedOPID}}</span> 
          </div>

        <mat-divider style="margin-left: 16px;"></mat-divider>

          <div class="col-md-12 titleNamesPadding">
            <span style="font-size: 14px;color: #008FCE;">Platform</span>
            <span style="font-size: 14px;color: #000000;float: right">{{product.platform_name}}</span> 
          </div>

        <mat-divider></mat-divider>
  
          <mat-icon style="display: block; margin-left: auto; margin-right: auto; height: 100%; width: 50%; margin-top: 6%; margin-top: 3%;" [hidden]="showSVGImage" id="object"  svgIcon="productImageIcon">
            <object data="imageURL" type="image/svg+xml" hidden></object>
          </mat-icon>
      
          <div>
            <br>
  
            <p style="font-size: 14px;color: #008FCE;margin-bottom: 4px;margin-left: 16px;">Chambers </p>
            
            <mat-divider style="margin-bottom: -7px;"></mat-divider>
  
            <div style="position: relative" height="70%">
              <div>
                <mat-nav-list class="matNavListPadding">
                <mat-list-item  *ngFor="let configuration of configurationArray; let i=index" (mouseover)="productItemMouseOver(configuration, true)" (mouseleave)="productItemMouseOver(configuration, false)">
                    <div class="indexPosition">
                      {{configuration.facet_name}}
                    </div>

                    <div style="color: rgb(0, 0, 0);font-size: 14px">
                      {{configuration.chamber_name}}
                    </div>
                    <mat-divider style="margin-left: 16px;"></mat-divider>
                  </mat-list-item>
                </mat-nav-list>
              <mat-divider ></mat-divider>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<footer class="productScreenfooterButton">
  <mat-toolbar  style="padding: 0px;height: 60px;display: block;">
    <button type="button" style="height: 60px;font-size: 16px;background: rgba(69,153,195,0.40);color: #008FCE;" class="btn col-md-12"  (click)="submitButton()">DONE</button>
  </mat-toolbar>
</footer>